/* Selector Universal */

*{

    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header{

    padding: 50px;
    background-color: aquamarine;
    text-align: center;

}

.contenido{

    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    background-color: rgb(247, 247, 120);
}

.cajas{

    flex: 100%;
    flex-wrap: wrap;
    text-align: center;

}

.realizados{

    flex: 100%;
    flex-wrap: wrap;
    text-align: center;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: rgb(255, 119, 149);

}

.boton{

    flex: 100%;

}